.DS_Store

#ignore .git folder for yuidoc project, otherwise it will be treated as a submodule
build/tools/yuidoc/.git/*

#ignore compiled python files
*.pyc

build/node_modules/
build/output/
build/tmp/
/.idea/
*TMP*