# Only the `dist` and `src` directories are served to NPM.

# JetBrains
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Other
*.lock
*.log

# Project
assets/
docs/
examples/
tests/
tutorials/
icon.png
bower.json
CONTRIBUTING.md
