body {
	margin: 3em auto;
	padding: 0;
	background-color: #eaebee;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	line-height: 1.4em;
}

a:link, a:visited {
	color: #39f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	color: #FFF;
	font-size: 1.6em;
	margin-bottom: 0;
	padding: 1.5em;
	padding-bottom: 1.2em;
	background: #374252;
	text-transform: uppercase;
}

h1::after {
	display: block;
	content: "";
	background: url('../art/logo_createjs.svg') no-repeat;
	height:1.5em;
	width: 6em;
	margin-top: -0.3em;
	float: right;
}

h1 em {
	font-weight: 200;
	font-style: normal;
}

h2 {
	font-size: 1.3em;
	padding: 1em;
	padding-bottom: 0.8em;
}

h3 {
	background: #e0e1e5;
	color: #374252;
	font-size: 1.25em;
	padding: 0.5em;
	margin-top: 1.25em;
	margin-bottom: -0.5em;
	position: relative;
}

code {
	color: black;
	background-color: rgba(255, 230, 0, 0.33);
	padding: 1px 3px;
	font-family: Courier New, Courier, serif;
	font-weight: bold;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}