body {
	margin: 3em;
	padding: 0;
	background-color: #eaebee;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

article {
	width: 55em;
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited {
	color: #39f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header p {
	color: #999b9f;
	margin: 0;
	padding: 0.8em;
	line-height: 1.6em;
	font-size: 0.9em;
}

header p strong {
	color: #808999;
}

h1, h2 {
	color: #FFF;
	font-size: 2em;
	margin-bottom: 0;
	padding: 0.66em;
	padding-bottom: 0.5em;
	background: #374252;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
}

h3 {
	background: #d9dadf;
	color: #374252;
	font-size: 1.25em;
	padding: 0.5em;
	margin-top: 1.25em;
	margin-bottom: -0.5em;
}

div.demo {
	border: solid 2px rgba(255, 255, 255, 0.4);
}

div.demo p {
	margin: 0;
	padding: 4px;
	font-size: 0.9em;
}

textarea {
	width: 100%;
	height: 60px;
}

div.demo p a {
	float: right;
}

iframe.demo {
	background-color: rgba(255, 255, 255, 0.25);
	border: none;
	margin-right: 8px;
}

code {
	color: black;
	background-color: rgba(255, 230, 0, 0.33);
	padding: 1px 3px;
	font-family: Courier New, Courier, serif;
	font-weight: bold;
}

A code, code A {
	color: rgb(0, 0, 172);
}

.highlight {
	background-color: rgba(250, 252, 255, 0.7);
	margin: 0;
	padding: 0.8em;
}